blinker==1.8.2
Bootstrap-Flask==2.4.1
click==8.1.7
colorama==0.4.6
Flask==2.3.3
Flask-CKEditor==1.0.0
Flask-Gravatar==0.5.0
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.2
greenlet==3.1.1
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==3.0.2
SQLAlchemy==2.0.36
typing_extensions==4.12.2
Werkzeug==3.1.1
WTForms==3.2.1
dotenv==0.9.9
gunicorn==23.0.0
psycopg2-binary~=2.9.10
bleach==6.2.0
requests~=2.32.3
python-dotenv~=1.1.0
numpy~=2.1.0
playsound~=1.2.2
pygame~=2.6.1
joblib~=1.4.2
scikit-learn~=1.6.1
tensorflow~=2.19.0
packaging~=24.2
pip~=23.2.1
wheel~=0.45.1
protobuf~=5.29.4
charset-normalizer~=3.4.1
setuptools~=78.1.0
pytz~=2025.2
scipy~=1.15.2
threadpoolctl~=3.6.0
webencodings~=0.5.1
certifi~=2025.1.31
pandas~=2.2.3
urllib3~=2.3.0
idna~=3.10
Pygments~=2.19.1
plotly~=6.0.1