				<!-- Footer -->
					<section id="footer" class="wrapper split style2">
						<div class="inner">
							<section>
								<header>
									<h3>Contact Me</h3>
								</header>
								<p>You can also find me on LinkedIn, Facebook, and GitHub</p>
								<ul class="icons">
									<li><a href="https://www.linkedin.com/in/dabloomquist/" class="icon brands fa-linkedin"><span class="label">Twitter</span></a></li>
									<li><a href="https://www.facebook.com/dabloomquist/" class="icon brands fa-facebook"><span class="label">Instagram</span></a></li>
									<li><a href="https://github.com/furstukin" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
								</ul>
							</section>
							<section>
								<form method="post" action="{{ url_for('contact') }}">
									<div class="fields">
										<div class="field half"><input type="text" name="name" id="name" placeholder="Name" /></div>
										<div class="field half"><input type="email" name="email" id="email" placeholder="Email" /></div>
										<div class="field"><textarea name="message" id="message" placeholder="Message" rows="4"></textarea></div>
									</div>
									<ul class="actions">
										<li><input type="submit" value="Send Message" /></li>
									</ul>
								</form>
							</section>
						</div>
						<div class="copyright">
							<p>&copy; Untitled. All rights reserved. Lorem ipsum dolor sit amet nullam.</p>
						</div>
					</section>
