<!DOCTYPE HTML>
<!--
	Reflex by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html>
	<head>
		<title>Home Price Estimator</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
	</head>

		{% include "header.html" %}

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<section id="main" class="wrapper style1">
						<div class="inner">
							<header class="major">
								<h1>Artificial Neural Network Home Price Estimator</h1>
								<p>Use an artificial neural network to estimate the value of home.</p>
							</header>
							<span class="image main"><img src="static/images/home_prices.jpeg" alt="picture of calculations for home prices" /></span>
							<p>Enter values below for the different brain lobe sections to run the machine learning model and predict whether the eyes are open or closed based on the data you provided. Or select a row in the table to auto populate the form with a sample brainwave.</p>

							<!-- Table -->
								<section>
									<h3>Sample Home Data</h3>
									<div class="table-wrapper">
										<table>
											<thead>
												<tr>
													<th>Home Value</th>
													<th>Square Footage</th>
													<th>Number of Bedrooms</th>
													<th>Number of Bathrooms</th>
													<th>Year Built</th>
													<th>Lot Size</th>
													<th>Garage Size</th>
													<th>Neighborhood Quality</th>
												</tr>
											</thead>
											<tbody>
												<tr onclick="populateForm(this)">
												<td>Closed</td>
												<td>4.20</td>
												<td>4.25</td>
												<td>4.21</td>
												<td>4.23</td>
												<td>3.97</td>
												<td>4.52</td>
												<td>4.11</td>
												<td>4.13</td>
												<td>4.08</td>
												<td>4.61</td>
												<td>4.62</td>
												<td>4.18</td>
												<td>4.33</td>
												<td>4.19</td>
												</tr>
												<tr onclick="populateForm(this)">
												<td>Closed</td>
												<td>4.25</td>
												<td>4.30</td>
												<td>4.25</td>
												<td>4.26</td>
												<td>3.98</td>
												<td>4.52</td>
												<td>4.11</td>
												<td>4.15</td>
												<td>4.07</td>
												<td>4.61</td>
												<td>4.62</td>
												<td>4.19</td>
												<td>4.33</td>
												<td>4.18</td>
												</tr>
												<tr onclick="populateForm(this)">
												<td>Closed</td>
												<td>4.20</td>
												<td>4.37</td>
												<td>4.25</td>
												<td>4.30</td>
												<td>3.99</td>
												<td>4.63</td>
												<td>4.09</td>
												<td>4.18</td>
												<td>4.10</td>
												<td>4.62</td>
												<td>4.61</td>
												<td>4.21</td>
												<td>4.33</td>
												<td>4.23</td>
												</tr>
												<tr onclick="populateForm(this)">
												<td>Closed</td>
												<td>4.40</td>
												<td>4.45</td>
												<td>4.26</td>
												<td>4.29</td>
												<td>4.03</td>
												<td>4.65</td>
												<td>4.14</td>
												<td>4.22</td>
												<td>4.07</td>
												<td>4.58</td>
												<td>4.61</td>
												<td>4.17</td>
												<td>4.35</td>
												<td>4.23</td>
												</tr>
												<tr onclick="populateForm(this)">
												<td>Open</td>
												<td>1.03</td>
												<td>1.37</td>
												<td>5.76</td>
												<td>6.31</td>
												<td>6.44</td>
												<td>0.09</td>
												<td>2.45</td>
												<td>5.17</td>
												<td>3.58</td>
												<td>6.50</td>
												<td>2.77</td>
												<td>4.59</td>
												<td>2.09</td>
												<td>6.49</td>
												</tr>
												<tr onclick="populateForm(this)">
												<td>Open</td>
												<td>4.20</td>
												<td>4.23</td>
												<td>4.23</td>
												<td>4.22</td>
												<td>4.05</td>
												<td>4.47</td>
												<td>4.13</td>
												<td>4.12</td>
												<td>4.05</td>
												<td>4.58</td>
												<td>4.61</td>
												<td>4.16</td>
												<td>4.33</td>
												<td>4.19</td>
												</tr>
												<tr onclick="populateForm(this)">
												<td>Open</td>
												<td>4.35</td>
												<td>4.40</td>
												<td>4.25</td>
												<td>4.29</td>
												<td>4.04</td>
												<td>4.62</td>
												<td>4.13</td>
												<td>4.21</td>
												<td>4.07</td>
												<td>4.62</td>
												<td>4.59</td>
												<td>4.20</td>
												<td>4.33</td>
												<td>4.22</td>
												</tr>
												<tr onclick="populateForm(this)">
												<td>Open</td>
												<td>4.50</td>
												<td>4.53</td>
												<td>4.34</td>
												<td>4.34</td>
												<td>4.14</td>
												<td>4.70</td>
												<td>4.19</td>
												<td>4.25</td>
												<td>4.07</td>
												<td>4.60</td>
												<td>4.61</td>
												<td>4.18</td>
												<td>4.35</td>
												<td>4.22</td>
												</tr>
											</tbody>
										</table>
									</div>

							<!-- Form -->
							<section>
								<h2>Brainwave Activity</h2>
								<form method="post" action="{{ url_for('mind_reader') }}">
									<div class="row gtr-uniform">
										<div class="col-num">
											<label for="af3" style="font-size: 1.5rem">
												Frontal Lobe Node AF3
											</label>
											<input type="number" name="af3" id="af3" value="" placeholder="Enter value between 0.00 and 6.50" min="0.00" max="6.50" step="0.01" required />
										</div>
										<div class="col-num">
											<label for="af4" style="font-size: 1.5rem">
												Frontal Lobe Node AF4
											</label>
											<input type="number" name="af4" id="af4" value="" placeholder="Enter value between 0.00 and 6.50" min="0.00" max="6.50" step="0.01" required />
										</div>
										<div class="col-num">
											<label for="f3" style="font-size: 1.5rem">
												Frontal Lobe Node F3
											</label>
											<input type="number" name="f3" id="f3" value="" placeholder="Enter value between 0.00 and 6.50" min="0.00" max="6.50" step="0.01" required />
										</div>
										<div class="col-num">
											<label for="f4" style="font-size: 1.5rem">
												Frontal Lobe Node F4
											</label>
											<input type="number" name="f4" id="f4" value="" placeholder="Enter value between 0.00 and 6.50" min="0.00" max="6.50" step="0.01" required />
										</div>
										<div class="col-num">
											<label for="f7" style="font-size: 1.5rem">
												Frontal Lobe Node F7
											</label>
											<input type="number" name="f7" id="f7" value="" placeholder="Enter value between 0.00 and 6.50" min="0.00" max="6.50" step="0.01" required />
										</div>
										<div class="col-num">
											<label for="f8" style="font-size: 1.5rem">
												Frontal Lobe Node F8
											</label>
											<input type="number" name="f8" id="f8" value="" placeholder="Enter value between 0.00 and 6.50" min="0.00" max="6.50" step="0.01" required />
										</div>
										<div class="col-num">
											<label for="fc5" style="font-size: 1.5rem">
												Frontal Lobe Node FC5
											</label>
											<input type="number" name="fc5" id="fc5" value="" placeholder="Enter value between 0.00 and 6.50" min="0.00" max="6.50" step="0.01" required />
										</div>
										<div class="col-num">
											<label for="fc6" style="font-size: 1.5rem">
												Frontal Lobe Node FC6
											</label>
											<input type="number" name="fc6" id="fc6" value="" placeholder="Enter value between 0.00 and 6.50" min="0.00" max="6.50" step="0.01" required />
										</div>
										<div class="col-num">
											<label for="o1" style="font-size: 1.5rem">
												Occipital Lobe Node O1
											</label>
											<input type="number" name="o1" id="o1" value="" placeholder="Enter value between 0.00 and 6.50" min="0.00" max="6.50" step="0.01" required />
										</div>
										<div class="col-num">
											<label for="o2" style="font-size: 1.5rem">
												Occipital Lobe Node O2
											</label>
											<input type="number" name="o2" id="o2" value="" placeholder="Enter value between 0.00 and 6.50" min="0.00" max="6.50" step="0.01" required />
										</div>
										<div class="col-num">
											<label for="p" style="font-size: 1.5rem">
												Parietal Lobe Node P
											</label>
											<input type="number" name="p" id="p" value="" placeholder="Enter value between 0.00 and 6.50" min="0.00" max="6.50" step="0.01" required />
										</div>
										<div class="col-num">
											<label for="p8" style="font-size: 1.5rem">
												Parietal Lobe Node P8
											</label>
											<input type="number" name="p8" id="p8" value="" placeholder="Enter value between 0.00 and 6.50" min="0.00" max="6.50" step="0.01" required />
										</div>
										<div class="col-num">
											<label for="t7" style="font-size: 1.5rem">
												Temporal Lobe Node T7
											</label>
											<input type="number" name="t7" id="t7" value="" placeholder="Enter value between 0.00 and 6.50" min="0.00" max="6.50" step="0.01" required />
										</div>
										<div class="col-num">
											<label for="t8" style="font-size: 1.5rem">
												Temporal Lobe Node T8
											</label>
											<input type="number" name="t8" id="t8" value="" placeholder="Enter value between 0.00 and 6.50" min="0.00" max="6.50" step="0.01" required />
										</div>
										<div class="col-12">
											<ul class="actions">
												<li><input type="submit" value="Make Prediction" class="primary" /></li>
											</ul>
										</div>
									</div>
								</form>
							</section>
						</div>
					</section>



{% include "footer.html" %}

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>
			<script>
				function populateForm(row) {
					const cells = row.getElementsByTagName('td'); // Get all cells in the row

					// Populate form fields based on the cell values
					document.getElementById('af3').value = cells[1].innerText;
					document.getElementById('af4').value = cells[2].innerText;
					document.getElementById('f3').value = cells[3].innerText;
					document.getElementById('f4').value = cells[4].innerText;
					document.getElementById('f7').value = cells[5].innerText;
					document.getElementById('f8').value = cells[6].innerText;
					document.getElementById('fc5').value = cells[7].innerText;
					document.getElementById('fc6').value = cells[8].innerText;
					document.getElementById('o1').value = cells[9].innerText;
					document.getElementById('o2').value = cells[10].innerText;
					document.getElementById('p').value = cells[11].innerText;
					document.getElementById('p8').value = cells[12].innerText;
					document.getElementById('t7').value = cells[13].innerText;
					document.getElementById('t8').value = cells[14].innerText;
				}
			</script>


	</body>
</html>