<!DOCTYPE HTML>
<!--
	Reflex by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html>
	<head>
		<title>Dustin Bloomquist</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
	</head>

	{% include "header.html" %}

		<!-- Wrapper -->
			<div id="wrapper">
				<!-- Intro -->
					<section id="intro" class="wrapper featured style1">
						<div class="inner">
							<span class="image"><img src="static/images/Headshot.jpg" alt="" /></span>
							<div class="content">
								<header>
									<h1><b>Dustin Bloomquist</b></h1>
									<h2><b>Curriculum Vitae</b></h2>
									<h4><a href="mailto:bloomquistdustin@gmail.com"><i>bloomquistdustin@gmail.com</i></a></h4>
									<p>A versatile and detail-oriented<br>
										Business Intelligence leader.</p>
								</header>
								<footer>
									<ul class="actions">
										<li><a href="#about-me" class="button big">About Me</a></li>
									</ul>
								{% with messages = get_flashed_messages(with_categories=true) %}
									{% if messages %}
										<div class="flash-messages">
											{% for category, message in messages %}
												<div class="alert alert-{{ category }}">{{ message }}</div>
											{% endfor %}
										</div>
									{% endif %}
								{% endwith %}
								</footer>
							</div>
						</div>
					</section>

				<!-- One -->
					<section class="wrapper style2 special">
						<div class="inner">
							<header>
								<h2 id="about-me">About Me</h2>
								<p>I excel at uncovering patterns in data, leveraging advanced<br>
									knowledge in technologies such as Power BI (Fabric),<br>
									Power Automate, Python, Machine Learning, AI, Excel,<br>
									and VBA. My expertise empowers me to automate even the<br>
									most complex manual tasks, streamlining workflows and<br>
									driving efficiency.<br>
									With a solid foundation in programming languages, I bridge <br>
									the gap between technical teams and business stakeholders,<br>
									enabling seamless communication and collaboration. My ability<br>
									to manage multiple projects simultaneously—while efficiently<br>
									tracking and prioritizing tasks—ensures consistent delivery<br>
									of high-quality results.<br><br>
    							    My specialized skills include Power BI (Fabric), DOMO, Python,<br>
									SQL, Microsoft VBA, Copilot, Machine Learning, Generative AI,<br>
									and Prompt Engineering.</p>
							</header>
							<ul class="icons major style2">
								<li><span class="icon solid fa-code"><span class="label">Lorem</span></span></li><li>
								<span class="icon solid fa-cog"><span class="label">Ipsum</span></span></li><li>
								<span class="icon solid fa-gem"><span class="label">Dolor</span></span></li><li>
								<span class="icon solid fa-camera-retro"><span class="label">Feugiat</span></span></li><li>
								<span class="icon solid fa-briefcase"><span class="label">Tempus</span></span></li>
							</ul>
							<p>I have worked in multiple industries and business areas which has exposed me to a vast
								array of data types and common data issues. This has made me an expert in data
								cleaning, standardizing, and merging data across different systems.</p>
							<footer>
								<ul class="actions special">
									<li><a href="{{ url_for('resume') }}" class="button">Resume</a></li>
									<li><a href="#projects" class="button">Project Portfolio</a></li>
								</ul>
							</footer>
						</div>
					</section>

				<!-- Two -->
					<section class="wrapper style1 special">
						<div class="inner">
							<header>
								<h2 id="projects">Project Portfolio</h2>
								<p>Here is a short list of projects to highlight my<br />
									talents in data science, data analysis, data<br />
									visualization, and python programming.</p>
							</header>
							<section class="spotlight">
								<span class="image"><img src="static/images/morse_machine.jpeg" alt="" /></span>
								<div class="content">
									<header>
										<h3>Text Parsing, Relational Data, and Multimedia Editing</h3>
									</header>
									<p>This is an app I wrote to convert any text into audible morse code by parsing each charactor and matching it to a database of Morse code audible files I recorded and split via PremierePro.</p>
									<footer>
										<ul class="actions">
											<li><a href="{{ url_for('morse') }}" class="button">Text to Morse Code</a></li>
										</ul>
									</footer>
								</div>
							</section>
							<section class="spotlight">
								<span class="image"><img src="static/images/trivia_logo.jpeg" alt="Trivia game logo" /></span>
								<div class="content">
									<header>
										<h3>Web Scrapping and API Calls</h3>
									</header>
									<p>Here is an app where I used web scrapping to capture the options from an API. Created a form using those options to generate a user customized API call. Then parsed the response and formatted the data so it can be run as a quiz</p>
									<footer>
										<ul class="actions">
											<li><a href="{{ url_for('trivia') }}" class="button">Trivia Game</a></li>
										</ul>
									</footer>
								</div>
							</section>
							<section class="spotlight">
								<span class="image"><img src="static/images/mind_reader.jpeg" alt="" /></span>
								<div class="content">
									<header>
										<h3>Machine Learning Classification Model Creation and Deployment</h3>
									</header>
										<h4>Computers Can Read Minds</h4>
									<p>Here is a machine learning model I trained on an EEG brain scan coupled with frame-by-frame data from a recording to indicate if the person's eyes are open or closed. Using this dataset I have made a model that can read the human mind to determine if the eyes are open or closed. I then integrated that model into a webapp so it can be used on new incoming data.</p>
									<footer>
										<ul class="actions">
											<li><a href="{{ url_for('mind_reader') }}" class="button">ML Mind Reader</a></li>
										</ul>
									</footer>
								</div>
							</section>
<!--							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus rutrum facilisis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos malesuada fames ac turpis egestas. In non lorem amet. Duis dapibus rutrum facilisis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam tristique eu nibh.</p>-->
<!--							<footer>-->
<!--								<ul class="actions special">-->
<!--									<li><a href="#" class="button">Details</a></li>-->
<!--								</ul>-->
<!--							</footer>-->
						</div>
					</section>

				<!-- Three -->
<!--					<section class="wrapper style3 special">-->
<!--						<div class="inner">-->
<!--							<header>-->
<!--								<h2>Amet ullamcorper</h2>-->
<!--								<p>Aptent taciti sociosqu litora torquent et conubia sed etiam.<br />-->
<!--								Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam<br />-->
<!--								turpis mauris, ultricies erat malesuada quis.</p>-->
<!--							</header>-->
<!--							<footer>-->
<!--								<ul class="actions special">-->
<!--									<li><a href="#" class="button big">Get Started</a></li>-->
<!--								</ul>-->
<!--							</footer>-->
<!--						</div>-->
<!--					</section>-->
{% include "footer.html" %}
			</div>

			<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>

</html>
