<!DOCTYPE HTML>
<!--
	Reflex by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html>
	<head>
		<title>Morse Code Audio Generator</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
	</head>

		{% include "header.html" %}

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<section id="main" class="wrapper style1">
						<div class="inner">
							<header class="major">
								<h1>Morse Code</h1>
								<p>Convert any text into audible Morse Code</p>
							</header>
							<span class="image main"><img src="static/images/morse_machine.jpeg" alt="picture of a morse code machine" /></span>
							<section>
								<h2>Morse Code Converter</h2>
								<h4><i>Note: The web host Railway is unable to play audio so you will not hear the playback at this time</i></h4>
								<form method="post" action="/morse">
									<div class="col-12">
    									<textarea name="text-to-convert" id="morse-text"
												  placeholder="Enter text to convert to audible Morse code"
												  rows="3"></textarea>
									</div>
									<p></p>
									<div class="col-12">
										<ul class="actions">
											<li><input type="submit" value="Convert Message" class="primary" /></li>
										</ul>
									</div>
									<div class="col-6 col-12-xsmall">
										<input type="text" name="morse" id="morse-text" value="{{ morse_sentence }}" placeholder="Morse Conversion" />
									</div>
									<div class="col-6 col-12-xsmall">
										<input type="text" name="nato" id="nato-text" value="{{ nato_sentence }}" placeholder="NATO Conversion" />
									</div>
									<div class="col-6 col-12-xsmall">
										<input type="text" name="braille" id="braille-text" value="{{ braille_sentence }}" placeholder="Braille Conversion" />
									</div>
								</form>
							</section>

							<script>
								// Save scroll position before unloading
								window.addEventListener('beforeunload', () => {
									localStorage.setItem('scrollPosition', window.scrollY);
								});

								// Restore scroll position on page load
								window.addEventListener('load', () => {
									const scrollPosition = localStorage.getItem('scrollPosition');
									if (scrollPosition) {
										window.scrollTo(0, parseInt(scrollPosition));
										localStorage.removeItem('scrollPosition'); // Clean up
									}
								});
							</script>

							<p>Morse code was developed by Samuel Morse and Alfred Vail, not just Samuel Morse
								as is commonly thought, in the 1840's. On May 24, 1844, they sent the first message
								"What hath God wrought," which is a quote from the Bible. Morse code
								revolutionized communication by enabling rapid transmission of messages over long
								distances using dots and dashes. And experienced operators could translate upto 40
								words per minute.</p>
							<p>The first successful transatlantic telegraph cable, enabling world-wide Morse code
								communication, was laid in 1866. An earlier attempt was made in 1858, but failed
								when the cable snapped. Although that cable has long since been decommissioned,
								Morse code is still used today, particularly in amateur radio for identifying
								repeaters and in the Automatic Transmitter Identification System (ATIS) for
								identifying uplink sources of analog satellite transmissions.</p>
							<p><b>FUN FACTS:</b></p>
							<p>143 means "I love you" in Morse Code.</p>
							<p>The telegraph became wireless, which saved 700 lives on the Titanic. The ship was
								outfitted with the best wireless equipment available. And just after impacting the
								iceberg, radio operator Harold Cottam, sent a message that reached another ship,
								the Carpathia, just 60 miles away.
							</p>
							<p>Morse code is not universal and there are several versions in use. This app uses
								the international Morse code, which differs quite a lot from the American version.
							</p>
						</div>
					</section>

{% include "footer.html" %}

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>

	</body>
</html>