<!DOCTYPE HTML>
<!--
	Reflex by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->



<html>
	<head>
		<title>Trivia Game</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
	</head>

	{% include "header.html" %}

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<section id="main" class="wrapper style1">
						<div class="inner">
							<header class="major">
								<h1>Trivia Game</h1>
								<p>Generate a custom trivia game using<br>
									the Open Trivia Database API
								</p>
							</header>

							<style>
								.flash-wrapper .alert {
									padding: 0.75rem 1.25rem;
									margin-bottom: 1rem;
									border: 1px solid transparent;
									border-radius: 0.25rem;
								}

								.flash-wrapper .alert-success {
									color: #155724;
									background-color: #d4edda;
									border-color: #c3e6cb;
								}
							</style>

							<div class="flash-messages">
								{% with messages = get_flashed_messages(with_categories=true) %}
									{% if messages %}
										<div class="flash-wrapper">
											{% for category, message in messages %}
											<div class="alert alert-success">
												{{ message }}
											</div>
											{% endfor %}
										</div>
									{% endif %}
								{% endwith %}
							</div>

							<span class="image main"><img src="static/images/trivia_logo.jpeg" alt="Trivia game logo" /></span>

							<!-- Form -->
								<section>
									<div class="inner">
										<h2>Trivia Setup</h2>
										<form method="post" action="/start_quiz">
											<div class="row gtr-uniform">
												<div class="col-12">
													<select name="category" id="category">
														<option value="">- Category -</option>
														{% for category in categories %}
															<option value="{{ category }}">{{ category }}</option>
														{% endfor %}
													</select>
												</div>
												<div class="col-12">
													<select name="question-count" id="question-count">
														<option value="">- Question Count -</option>
														{% for num in q_count %}
															<option value="{{ num }}">{{ num }}</option>
														{% endfor %}
													</select>
												</div>
												<div class="col-12">
													<label for="difficulty-section" style="font-size: 1.5rem">
														Question Difficulty
													</label>
												</div>
												<div id="difficulty-section">
													{% for option in difficulties %}
													<div class="col-4 col-12-small">
														<input type="radio" id="difficulty-{{ option }}" name="difficulty" value="{{ option }}" {% if loop.first %}checked{% endif %}>
														<label for="difficulty-{{ option }}">{{ option }}</label>
													</div>
													{% endfor %}
												</div>
												<div class="col-12">
													<label for="question-style-section" style="font-size: 1.5rem">
														Question Type
													</label>
												</div>
												<div id="question-style-section">
													{% for option in type %}
													<div class="col-4 col-12-small">
														<input type="radio" id="question-{{ option }}" name="question-style" value="{{ option }}" {% if loop.first %}checked{% endif %}>
														<label for="question-{{ option }}">{{ option }}</label>
													</div>
													{% endfor %}
												</div>
												<div class="col-12">
													<ul class="actions">
														<li><input type="submit" value="Create Game" class="primary" /></li>
													</ul>
												</div>
											</div>
										</form>
									</div>
								</section>
						</div>
					</section>
			</div>

{% include "footer.html" %}

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>

</html>